<div class="fixed text-center">
    <div class="w-24 justify-content-center p-2 custom-rounded-div">
        <img class="logo" src="/assets/logo-mobile.png" alt="">
    </div>
    <div class="flex flex-col items-center pt-8">
        <!-- <i class="pi pi-user mb-6 text-white text-lg transition-slow hover-scale-125 cursor-pointer"></i> -->
        <i class="pi pi-home mb-6 text-white text-lg transition-slow hover-scale-125 cursor-pointer" (click)="redirectHome()"></i>
        <!-- <i class="pi pi-users mb-6 text-white text-lg transition-slow hover-scale-125 cursor-pointer"></i> -->
        <!-- <i class="pi pi-question-circle mb-6 text-white text-lg transition-slow hover-scale-125 cursor-pointer" (click)="redirectFaqs()"></i> -->
        <i class="pi pi-sign-out text-white text-lg transition-slow hover-scale-125 cursor-pointer" (click)="redirectBusinessLogin()"></i>
    </div>
</div>